<div class="header">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <figure class="logo">
                <img class=" hidden hidden" src="assets/myTalkieTime.png" width="70px" height="70px">
                <h4 class="text-light figcaption fs-3">myTalkieTime</h4>
            </figure>
            <div class="ms-auto">
                <ul class="navbar-nav ">
                    <li class="nav-item collapsed-item">
                      <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item collapsed-item">
                      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                    </li>
                    <li class="nav-item collapsed-item">
                      <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </nav>
</div>