<div class="footer">
    <!-- <div class=" d-flex flex-row">
        <hr>
        <label class="px-3">CONTACT US</label>
        <hr>
    </div> -->
    <div class="footer-contents">
        <div class="row">
            <div class="col-lg-6 outer-box">
                <h4 class="px-5 mx-5"><i class="bi bi-geo-alt" style="font-size: 2rem;"></i> Locate Us</h4>
                <div class="location d-flex flex-column justify-content-center">
                    <li>Akshya Nagar 1st Block 1st Cross,</li>
                    <li>Rammurthy nagar,</li>
                    <li>Bangalore-560016</li>
                </div>
            </div>
            <div class="col-lg-6">
                <h4 class="text-center">Connect with Us</h4> 
                <div class="d-flex flex-row mx-5 justify-content-center p-4">
                    <li><i class="bi bi-youtube"></i></li>
                    <li><i class="bi bi-instagram"></i></li>
                    <li><i class="bi bi-envelope-at"></i></li>
                </div>
            </div>
        </div>
    </div>
    <div class=" d-flex flex-row  name">
        <hr>
        <img  src="favicon.ico" width="40px" height="40px">
        <label class="px-3">myTalkieTime</label>       
        <hr>
    </div>
    <p>Copyright &copy; 2023</p>
    <p>The images used here are for individual project purposes and not intended for commerical use. All rights reserved for original owners</p>
</div>

