
    <div class="wrapper mt-5">
        <h3 class="mb-3">Showing Now</h3>
        <div class="row row-cols-5 g-4">

            
            <div class="col">
                <div class="card h-60" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1635805737707-575885ab0820?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" class="card-img-top" height="350rem"  alt="card">
                    <div class="card-body movie-title">
                      <div class="d-flex justify-content-between">
                        <p class="card-text fw-bold">Movie Name</p>
                        <i class="bi bi-bookmark-heart" data-toggle="tooltip" title="Add to Wishlist"></i>
                      </div>
                      <div class="info">
                        <p class="mt-5 text-light fw-bold">MOVIE NAME</p>
                        <p class="text">Tamil</p>
                        <p class="text">UA</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-60" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1635805737707-575885ab0820?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" class="card-img-top" height="350rem"  alt="card">
                    <div class="card-body movie-title">
                      <div class="d-flex justify-content-between">
                        <p class="card-text fw-bold">Movie Name</p>
                        <i class="bi bi-bookmark-heart" data-toggle="tooltip" title="Add to Wishlist"></i>
                      </div>
                      <div class="info">
                        <p class="mt-5 text-light fw-bold">MOVIE NAME</p>
                        <p class="text">Tamil</p>
                        <p class="text">UA</p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-60" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1635805737707-575885ab0820?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" class="card-img-top" height="350rem"  alt="card">
                    <div class="card-body movie-title">
                      <div class="d-flex justify-content-between">
                        <p class="card-text fw-bold">Movie Name</p>
                        <i class="bi bi-bookmark-heart" data-toggle="tooltip" title="Add to Wishlist"></i>
                      </div>
                      <div class="info">
                        <p class="mt-5 text-light fw-bold">MOVIE NAME</p>
                        <p class="text">Tamil</p>
                        <p class="text">UA</p>
                      </div>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card h-60" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1635805737707-575885ab0820?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" class="card-img-top" height="350rem"  alt="card">
                    <div class="card-body movie-title">
                      <div class="d-flex justify-content-between">
                        <p class="card-text fw-bold">Movie Name</p>
                        <i class="bi bi-bookmark-heart" data-toggle="tooltip" title="Add to Wishlist"></i>
                      </div>
                      <div class="info">
                        <p class="mt-5 text-light fw-bold">MOVIE NAME</p>
                        <p class="text">Tamil</p>
                        <p class="text">UA</p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-60" style="width: 18rem;">
                    <img src="https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1896&q=80" class="card-img-top"  height="350rem" alt="card">
                    <div class="card-body movie-title">
                      <div class="d-flex justify-content-between">
                        <p class="card-text fw-bold">Movie Name</p>
                        <i class="bi bi-bookmark-heart" data-toggle="tooltip" title="Add to Wishlist"></i>
                      </div>
                      <div class="info">
                        <p class="mt-5 text-light fw-bold">MOVIE NAME</p>
                        <p class="text">Tamil</p>
                        <p class="text">UA</p>
                      </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

